a[href^="https://www.google.com"] {
    color: green;
}
a[target] {
    color: red;
}
#second-div p:nth-child(odd) {
color: red;
}
#second-div p:nth-child(even) {
color: blue;
}
p:nth-child(8):hover {
    font-style: italic;
}
#first-div > p:nth-child(2)::after {
    content: "NEW";
    color: yellow;
}
#first-div > p:nth-child(3)::after {
    content: "NEW";
    color: yellow;
}



